<div class="container">
    <table class="shared-table">
        <thead class="shared-table-head">
        <tr>
            <th *ngFor="let name of columnName">{{ name }}</th>
        </tr>
        </thead>
        <tbody class="shared-table-body">
        <tr *ngFor="let row of data">
            @if (customTemplate) {
                <ng-container
                        *ngTemplateOutlet="customTemplate; context: { $implicit: row }"
                ></ng-container>
            }
        </tr>
        </tbody>
    </table>
</div>

<app-loading [loading]="loading"></app-loading>

<div class="paginator">
    <ng-container *ngIf="pagination && pagination.totalCount > pagination.pageSize">
        <mat-paginator
                [length]="pagination?.totalCount"
                [pageSize]="pagination?.pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]"
                [showFirstLastButtons]="false"
                [hidePageSize]="true"
                [pageIndex]="pagination?.currentPage"
                (page)="handlePageEvent($event)"
                aria-label="Select page"
        >
        </mat-paginator>
    </ng-container>
</div>
