<mat-dialog-content>
  <div class="create-job">
    <img class="job-image" src="" alt="photo" />
    <div class="create-right">
      <p>Add a message</p>
      <textarea name="" id="" placeholder="Start typing..."></textarea>

      <div class="right-amount">
        <div class="amount-elements">
          <p>Booking total:</p>
          <p>5 days</p>
        </div>
        <div class="amount-elements">
          <p>Daily worker pay</p>
          <p>200</p>
        </div>
        <div class="amount-elements">
          <p>Service fee</p>
          <p>20</p>
        </div>
        <div class="amount-elements">
          <p>Total daily</p>
          <p>230</p>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <app-button label="Create job" styleClass="bg-blue"></app-button>
</mat-dialog-actions>
