.worker-info {
    display: flex;
    align-items: center;
    gap: 15px;
}
.worker-image {
    width: 70px;
    height: 70px;
}

.worker-name {
    font-weight: bold;
    font-size: 16px;
}

.worker-title {
    font-size: 14px;
}

.item-value {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    vertical-align: middle;
    text-align: center;
}

.book-button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;

    &-img {
        width: 50px;
        height: 50px;
    }
}
