<app-input></app-input>
<app-table
  [columnName]="columnName"
  [data]="(workers$ | async)?.items ?? []"
  [customTemplate]="customColumnTemplate"
  [loading]="loading$()"
  [pagination]="(workers$ | async)?.pagination"
  (changePage)="onPageChange($event)"
></app-table>

<ng-template #customColumnTemplate let-worker>
  <td class="item-value">
      <div class="worker-info">
          <img
                  [src]="worker.imageUrl | defaultImage : defaultImage"
                  alt="Worker photo"
                  class="worker-image"
                  (error)="onImageError($event)"
          />
          <div class="worker-details">
              <div class="worker-name">{{ worker?.firstName + ' ' + worker?.lastName  }}</div>
              <div class="worker-title">{{ worker.jobTitle }}</div>
          </div>
      </div>
  </td>
    <td class="item-value">-</td>
    <td class="item-value">-</td>
    <td class="item-value">-</td>
    <td class="item-value">
        <button class="book-button" (click)="openDialog()">
            <img
                    class="book-button-img"
                    src="assets/icons/book.svg"
                    alt="book image"
            />
        </button>
    </td>
</ng-template>
